<link
	rel="stylesheet"
	type="text/css"
	href="/styles.css"
/>
<link
	rel="preconnect"
	href="https://fonts.gstatic.com"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap"
	rel="stylesheet"
/>

<article class="postcard container">
	<div class="promo">
		<div class="left">
			<h1 class="headline">				
				<span class="text-background--purple">Sign up for our </span><%= course %> course...
			</h1>
			<p class="tagline">
				we connect you to employers who offer tuition assistance and will hire during and after your training! 
			</p>
			<p class="tagline">
				
			</p> 
			<p > <strong>Our courses prepare you for the CNA state license exam and are offered during day, evening and weekends.  <br> <br>Fill out the form below to start.</strong></p>

			 <!--FIRST AND LAST NAMES-->
			<div class="row justify-content-between">
				<div class="col-sm-12 col-lg-8">   				
					<div class="form-group">
						<label for="first" class="fieldname"><strong class="text-background--purple">First Name</strong> </label>                                   
						<input type="text" class="form-control border border-dark" name="first" placeholder="First name" id="first" required>			   
					</div>	
					<div class="form-group">
						<label for="last"  class="fieldname"><strong class="text-background--purple">Last Name</strong> </label>                                   
						<input type="text" class="form-control border border-dark" name="last" placeholder="Last name" id="last" required>			   
					</div>
					<div class="form-group">
						<label for="email" class="fieldname"><strong class="text-background--purple">Email</strong> </label>                                   
						<input type="email" class="form-control border border-dark" name="email" placeholder="Email" id="email" required>			   
					</div>
					<div class="form-group">
						<label for="tel" class="fieldname"><strong class="text-background--purple">Telephone</strong> </label>                                   
						<input type="tel" class="form-control border border-dark" name="tel" placeholder="Phone" id="tel" required>			   
					</div>	
					<a href="/dates/<%=code%>" class="btn btn-block btn-lg btn-dark" id="registerProspect">
						Sign up now
					</a>
				</div>			
			</div> 				
		</div>
		<img
			class="scrubs"
			src="/scrubs.png"
			alt="Nurses in scrubs"
		/>  
	</div>

	<!-- <div class="clippings">
		<div class="clipping">
			<span>background-color: #68328f btn-primary
				<a href="/learn/<%=code%>" class="btn btn-lg btn-primary btn-lg">
					Sign up now
				</a>
			</span>			
		</div>
	</div> -->
</article>


<script type="application/javascript">
	$(document).ready(() => {  
			//get the course code
			const code = (<%-JSON.stringify( code )%>)
			//store the code in the local storage
			localStorage.setItem('code', code)
		   //this event gathers contact information of a prospective student
		   $("#registerProspect").on('click', e => { 
				//prevent default behavior
				e.preventDefault()
				// Read the CSRF token from the <meta> tag
				// const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')      
				//REQUIRED FIELD: get student's first name
				const first = $('#first').val()
				//REQUIRED FIELD: get student's last name
				const last = $('#last').val()
				//REQUIRED FIELD: get student's email
				const email = $('#email').val()
				//REQUIRED FIELD: get student's telephone #
				const tel = $('#tel').val()         
				//make sure that first, last, email and telephone #s fields are filled
				if(first === '' || last === '' || email === '' || tel === ''){
					return alert('You must enter all fields.  Make sure you entered your first and last names, email and/or telephone #.')
				}
      
				//hide the registration button to avoid multiple form submission           
				$('#registerProspect').hide()      						
				//create an on object constructed from data entered by user in the form above
				const studentData = { first, last, email, tel }
				debugger                
			

				$.ajax({
					type: 'POST', 
					url: `/students/prospects/${code}`,
					credentials: 'same-origin', // <-- includes cookies in the request
					headers: {
						Accept: "application/json",
						//'Content-Type': "application/json"				    
					},
					dataType: "json",
					data: studentData,
				}).done(function (response) {
					if (response.redirect !== undefined && response.redirect) {
						//add local storage items for student id and if student registered or waitlisted
						localStorage.setItem('student_id', response.student_id)						
						debugger
						alert(response.message)
						//window.location.replace(response.redirect_url)
						window.location.href = response.url
					}   else {
						alert(response.message)
						window.location.href = response.url
					}   
					              
				})                   
        })

	})
</script>